<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default.html}">

<div layout:fragment="content">
	<div class="container">
		<div class="d-flex justify-content-start mb-4">
			<a href="/items/new" class="btn btn-primary">등록</a>
		</div>
		<div th:if="${itemLists.isEmpty()}">
			<p>등록된 작품이 없습니다.</p>
		</div>
		<div th:if="${not itemLists.isEmpty()}" class="row">
			<div th:each="item : ${itemLists}" class="col-md-3 mb-4">
				<a th:href="@{ '/items/' + ${item.id} }" class="text-decoration-none">
					<div class="card" style="width: 100%;">
						<img th:src="@{'/image/' + ${item.imageFileName}}"
							class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text" th:text="${item.title}"></p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

</html>