<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default.html}">

<div layout:fragment="content">
	<div class="container">
		<!-- 버튼 -->
		<div class="row mb-2">
			<div class="col-auto">
				<a href="/" class="btn btn-secondary">목록</a> <a href="/"
					class="btn btn-warning">수정</a> <a href="/" class="btn btn-danger">삭제</a>
			</div>
		</div>
		<!-- 작품 이미지 -->
		<div class="row">
			<div class="col-md-4 d-flex justify-content-start"
				style="margin-left: 0;">
				<img th:src="@{'/image/' + ${item.imageFileName}}"
					th:style="'max-width:300px; height:auto;'">
			</div>
			<!-- 작품 설명 -->
			<div class="col-md-6 d-flex flex-column justify-content-center">
				<div>
					<h2 th:text="${item.title}"></h2>
					<hr>
					<pre th:text="${item.description}" style="white-space: pre-wrap"></pre>
				</div>
			</div>
		</div>

		<!-- 댓글 -->
		<div class="row" style="margin-left: 0;">
			<div class="card">
				<div class="card-header">닉네임</div>
				<div class="card-body">
					<h5 class="card-title">별점</h5>
					<p class="card-text">내용</p>
				</div>
			</div>
		</div>
	</div>
</div>
</html>